streamlit>=1.28.0
qdrant-client==1.7.0
google-generativeai==0.3.2
python-dotenv==1.0.0
streamlit-option-menu==0.3.6
streamlit-lottie==0.0.5
streamlit-extras==0.3.5
neo4j==5.14.1
pyvis==0.3.2
networkx==3.2.1
uuid
pandas 